<section class="flex flex-col bg justify-center items-center min-h-screen bg-gray-400 px-4">
  <div class="bg-white w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-6 sm:p-10 rounded shadow-xl text-center">
    <!-- main Title -->
    <h1 class="text-2xl sm:text-3xl font-bold mb-4">
      Change<span class="text-(--main-color)">Password</span>
    </h1>
    <form (submit)="changePasswordSumbit($event)">
      <!-- Password Input -->
      <div class="relative">
        <input
          [field]="changePasswordForm.password"
          type="password"
          id="password"
          class="main-input peer"
          placeholder=" "
        />
        <label for="password" class="main-label">Password</label>
      </div>
      @if(this.changePasswordForm.password().invalid() &&
      this.changePasswordForm.password().touched()){
      <div
        class="px-4 py-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert"
      >
        @for (error of this.changePasswordForm.password().errors(); track error.kind) {
        <span class="font-medium"> {{ error.message }} </span>
        }
      </div>
      }
      <!-- New Password Input -->
      <div class="relative">
        <input
          [field]="changePasswordForm.newPassword"
          type="password"
          id="newPassword"
          class="main-input peer"
          placeholder=" "
        />
        <label for="newPassword" class="main-label">NewPassword</label>
      </div>
      @if(this.changePasswordForm.newPassword().invalid() &&
      this.changePasswordForm.newPassword().touched()){
      <div
        class="px-4 py-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert"
      >
        @for (error of this.changePasswordForm.newPassword().errors(); track error.kind) {
        <span class="font-medium"> {{ error.message }} </span>
        }
      </div>
      }

      <button type="submit" class="btn">
        @if (this.isLoading() === false) { Change Password}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>
  </div>
</section>
