<section class="bg-white rounded-lg md:w-[40%] m-auto my-2 p-5 animate-pulse">
  <!-- header -->
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-3">
      <!-- avatar -->
      <div class="size-10 rounded-full bg-gray-200"></div>

      <!-- name + date -->
      <div class="space-y-2">
        <div class="h-4 w-32 bg-gray-200 rounded"></div>
        <div class="h-3 w-20 bg-gray-200 rounded"></div>
      </div>
    </div>

    <!-- dots -->
    <div class="size-8 bg-gray-200 rounded"></div>
  </div>

  <!-- body -->
  <div class="my-4 space-y-2">
    <div class="h-3 w-full bg-gray-200 rounded"></div>
    <div class="h-3 w-11/12 bg-gray-200 rounded"></div>
    <div class="h-3 w-9/12 bg-gray-200 rounded"></div>
  </div>

  <!-- image -->
  <div class="w-full h-60 bg-gray-200 rounded-lg"></div>

  <!-- button -->
  <div class="mt-4 h-4 w-32 bg-gray-200 rounded"></div>
</section>
