<div class="md:w-[50%] m-auto">
  <app-create-post />
</div>

<p class="text-sm text-gray-500 italic text-center p-5">
  New posts are displayed at the bottom because that’s how the API returns them.
</p>
@if (loading()) { @for (i of [1,2,3,4] ; track $index) {

<div class="md:w-[50%] m-auto">
  <app-skeleton-post />
</div>
} } @else if (!loading() && hasPosts()) { @for (post of postsList(); track post.id) {
<div class="md:w-[50%] m-auto">
  <app-single-post [post]="post" />
</div>
} }

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
