/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";


:root {
  --main-color: #2563EB;
}
body{
    background-color: #eee;
}


@layer components{
 .btn {
  @apply
    w-full
    px-3 py-2
    rounded-md
    text-white

    bg-blue-600
    border border-blue-700

    cursor-pointer
    transition-all duration-300

    hover:bg-blue-700
    active:bg-blue-800

    disabled:bg-blue-300
    disabled:border-blue-300
    disabled:cursor-not-allowed
    disabled:opacity-60;
}

.bg{
    background-image: url('../public/images/background.webp');
    background-size: cover;
    background-position:  center center;
}
  
  .main-input{
   @apply block px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-transparent rounded-base border border-black appearance-none focus:outline-none focus:ring-0 focus:border-brand mb-4
  }
  .main-label{
    @apply absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1
  }

}
